<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!-- Appenders -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender"> 
		<param name="Target" value="System.out"/> 
		<layout class="org.apache.log4j.PatternLayout"> 
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %C [%M :%L] %m%n" />
		</layout> 
	</appender> 
    
	<appender name="sql" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %C [%M :%L] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter"> 
			<param name="StringToMatch" value="Result" /> 
			<param name="AcceptOnMatch" value="false" /> 
		</filter> 
	</appender>
	
	<category name="com.mybatis">
		<priority value="debug" />
	</category>
	
	<category name="java.sql">
		<priority value="debug" />
		<appender-ref ref="sql" />
	</category>
	
    <logger name="com.github.daclouds">
        <level value="info" />
    </logger>	
	    
    <logger name="org.springframework.core">
        <level value="debug" />
    </logger>
    
     <logger name="org.springframework.beans">
        <level value="debug" />
    </logger>
    
    <logger name="org.springframework.context">
        <level value="debug" />
    </logger>
    
    <logger name="org.springframework.web">
        <level value="debug" />
    </logger>
    
    <logger name="org.springframework.transaction">
        <level value="debug" />
    </logger>
    
    <logger name="org.springframework.aop">
        <level value="debug" />
    </logger>

	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">  
 		<param name="file" value="/usr/local/tomcat/logs/globalpayment.log"/>
		<param name="Append" value="true"/>  
		<param name="DatePattern" value="'.'yyyyMMdd"/>  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %C [%M :%L] %m%n" />
		</layout>  
	</appender>  

    <root>
        <priority value="debug" />
        <appender-ref ref="stdout" />
        <appender-ref ref="dailyRollingFile" />
    </root>    
    
</log4j:configuration>